audioread==2.1.6
decorator==4.3.0
joblib==0.13.1
librosa==0.6.2
llvmlite==0.27.0
numba==0.42.0
numpy==1.16.0
Pillow==6.2.0
resampy==0.2.1
scikit-learn==0.20.2
scipy==1.2.0
six==1.12.0
torch==1.0.0
torchvision==0.2.1
argparse
matplotlib
SoundFile==0.10.2
